:root {
  --primary-color: #f9bf2a;
  --primaryDark: #e1ab1f;
  --secondary-color: #242b3b;
  --background-color: #151922;
  --text-color: #fff;
}

.main{
  --primary-color: #f9bf2a;
  --primaryDark: #e1ab1f;
  --secondary-color: #ffed4a;
  --background-color: #151922;
  --text-color: #fff;
}

.dark {
  --primary-color: #6574cd;
  --primaryDark: #e1ab1f;
  --secondary-color: #ffed4a;
  --background-color: #2d3748;
  --text-color: #f8fafc;
}

.theme-blue {
  --primary-color: #1E3A8A;
  --primaryDark: #e1ab1f;
  --secondary-color: #60A5FA;
  --background-color: #EFF6FF;
  --text-color: #1E40AF;
}

.orange-red {
  --primary-color: #ff6b35; /* Оранжевый */
  --primaryDark: #d95d2c;   /* Темный оранжевый */
  --secondary-color: #ee964b; /* Светло-оранжевый */
  --background-color: #2d2727; /* Темный фон */
  --text-color: #ffffff;      /* Белый текст */
}

.dark-grey {
  --primary-color: #404b67;   /* Серый */
  --primaryDark: #4b5563;     /* Темный серый */
  --secondary-color: #9ca3af; /* Светло-серый */
  --background-color: #edf2ff; /* Темно-серый фон */
  --text-color: #f9fafb;      /* Белый текст */
}